
<h2 class=text-center>Search</h2>
<hr>

<div class=row>
<div class=col-sm-3></div>
<div class=col-sm-3>
  <select class=form-control
    [(ngModel)]="search.field" #field="ngModel">
    <option value=first>By First Name</option>
    <option value=last>By Last Name</option>
    <option value=email>By Email</option>
  </select>
</div>
<div class=col-sm-3>
  <input class=form-control
    [(ngModel)]="search.term" #term="ngModel"
    (keyup)="updateParams()"
    [disabled]="search.field === ''" placeholder="Search">
</div>
<div class=col-sm-3></div>
</div>

<hr>

<p class=text-center>
  <span *ngIf="searching">Searching...</span>
  <span *ngIf="!searching && users.length === 0 && search.term !== ''">No users found.</span>
</p>

<div *ngIf="users.length > 0 && !status" class=row>
  <div class=col-8>
    <table class="table table-striped">
        <tr>
            <td><strong>Name</strong></td>
            <td><strong>Email</strong></td>
            <td><strong>Birthday</strong></td>
            <td><strong>Age</strong></td>
            <td><strong>Actions</strong></td>
        </tr>
        <tr *ngFor="let user of users">
            <td><strong>{{user.name}}</strong></td>
            <td>{{user.email}}</td>
            <td>{{user.bday_short}}</td>
            <td>{{user.age}}</td>
            <td>
                <button class="btn btn-sm btn-success">Show</button>
                <button class="btn btn-sm btn-warning">Edit</button>
                <button class="btn btn-sm btn-danger">Delete</button>
            </td>
        </tr>
    </table>

  </div>
</div>